html {
    font-size: 14px;
}

.func-test.accordion-item .accordion-body {
    padding: 0;
}

.func-test__body {
    display: flex;
}

.func-test__body > * {
    width: 50%;
    padding: 1.25rem .75rem;
}

.func-test__body > pre {
    background-color: #f8f9fa;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.func-test__body > :last-child {
    padding: 1.5rem;  /* Override */
}
